doctype
html(lang='en')
    head
        include partials/headers
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Coloca tu nuevo password
            form#formulario.caja.caja-login(method="POST")
                .campo
                    label(for="email") Password
                    input(type="password" name="password" placeholder="Ingresa tu nuevo password..." value= email)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")